body{
    margin: 0 auto;
    height: 900px;
    width: 900px;
}

p{
    color: #fff;
}

header{
    height: 75px;
    background-color: #a0a;
}

nav{
    height: 25px;
    background-color: #ee0;
}

.block{
    height: 750px;
    background-color: cyan;
}

    .a,.b,.c,.d,.e,.f,.g{
        float: left;
        margin: 0;
    }

        .a{
            width: 225px;
            height: 250px;
            background-color: #f00;
        }
        .b{
            width: 450px;
            height: 250px;
            background-color: #00b;
        }
        .c{
            width: 225px;
            height: 250px;
            background-color: #090;
        }
        .d{
            width: 900px;
            height: 250px;
            background-color: #fcc;
        }
        .e{
            width: 225px;
            height: 250px;
            background-color: #808;
        }
        .f{
            width: 450px;
            height: 250px;
            background-color: #900;
        }
        .g{
            width: 225px;
            height: 250px;
            background-color: #888;
        }

footer{
    height: 50px;
    background-color: #d00;
}

@media screen and (max-width: 1050px){
    .block{width:750px;}
    .a,.b,.c,.d,.e,.f,.g{width: 250px;}
    .d{width: 750px}
    header, footer, nav{width: 750px}
}
@media screen and (max-width: 780px){
    .block {width:570px;}
    .a,.b,.c,.e,.f,.g {width: 190px;}
    .d{width: 570px}
    header, footer, nav {width: 570px}
}
@media screen and (max-width: 580px){
    .block {width:100%;}
    .a,.b,.c,.d,.e,.f,.g {width: 100%; height: 125px}
    
    header, footer, nav {width: 100%}

}

.clear{
    clear: both;
}
