/*********** Unités mesure CSS ***********/

/*
Les pixels (px):
A choisir pour: Les traits et bordureset les éléments généraux, lorsqu'il s'agit de design a largeur fixe.
A éviter pour: La typographie, sauf s'il s'agit d'établir une taille de police de base.

Les pourcentages (%):
A choisir pour: Intégrer des images et des conteneurs a taille variable, et pour définir la hauteur de la balise body dans certains cas
A éviter pour: La typographie(la police)

em et ex:
A choisir pour: la typographie(la police) et les éléments qui y sont liés(les marges pour exemple)

vh et vw:
A choisir pour:La typographie, et pour des conteneurs.

*/

#conteneur{
    border: 2px solid;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    font-size: 1.2vw; /*vw spécifie une mesure en fonction de la tailler de la fenetre*/
}
header{
    background: #f6523f;
    height: 15vh;
}

p{
    margin: 0;
}
nav{
    background: #808;
    height: 5vh;
}

section{
    background: #653;
    margin: 2%;
}

footer{
    background: #32f65f;
    height: 7.5vh;
}

.a{
    float: left;
    width: 50%;
    height: 28vh;
    background: #369;
}
.b{
    float: left;
    width: 50%;
    height: 28vh;
    background: #767676;
}
.c{
    float: left;
    width: 50%;
    height: 28vh;
    background: #fda500;
}
.d{
    float: left;
    width: 50%;
    height: 28vh;
    background: #aa2355;
}
.clear{
    clear: both;
}
