*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html{
    width: 100%;;
    height: 290vh;
    background-color: crimson;
}
body{
    height: 100%;
    width: 100%;
    background-color: #088;
}
div{
    height: 100%;
    /*border: 1px red solid;*/
}
header{
    height: 26vh;
    background-color: yellow;
    }
    #prehead{
        height: 10%;
        background-color: #616161;
        padding: 0 5%;
        color: #fff;
        }
        #prehead p{
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            /*padding-bottom: 2px;*/
            }
            #prehead div:nth-of-type(2){
                text-align: center;
                }
            #prehead div:nth-of-type(3){
                text-align: right;;
                }
        #prehead span{
            font-style: italic;
        }
    #mainhead{
        height: 72%;
        background-color: #f8f8f8;
        padding: 0 5%;
        }
        h1{
            font-weight: bold;
            font-size: 4.5em;
        }
        #violet{
            background-color: #F62775;
            color: white;
        }
        #mainhead p{
            font-size: 1em;
            font-style: italic;
            display: inline-block;
        }

        .fr{
            height: 50%;
            width: 50%;
            float: left;
            padding: 0 0 0 85px ;
        }
        .fr:nth-child(1){
            background: url('../img/money.png') no-repeat;
            background-size: 64px;
        }
        .fr:nth-child(2){
            background: url('../img/account.png') no-repeat ;
            background-size: 64px;
            background-position: 70% top;
        }
        .fr:nth-of-type(3){
            background: url('../img/contact.png') no-repeat;
            background-size: 64px;
        }
        .fr:nth-of-type(4){
            background: url('../img/basket.png') no-repeat ;
            background-size: 64px;
            background-position: 70% top;

        }
        #mainhead span h4{
            display: inline-block;
            margin: 15px 0 0 0;
        }
        #mainhead span img{
            height: 64px;
        }
    nav{
        height: 18%;
        background-color: #f2f2f2;
        /*padding: 0 4%;*/
        }
        nav div{
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            padding: 7px 0;
            border: 1px solid #eee;
            box-shadow: top 5px;
        }
        nav div:first-of-type{
            padding: 4px 0;
        }
        nav div:last-of-type{
            padding: 0;
        }
section{
    height: 190vh;
    background-color: #fff;
    width: 100%;
    }

    #carous{
        height: 30%;
        }
        #caro{
            width: 50%;
            height: 80%;
            overflow: hidden;
            float: left;
        }
        #caro img{
            width: 20%;
            height: 100%;
        }
        #caro figure{
            width: 500%;
            margin: 0;
            padding: 0;
            font-size: 0;
            text-align: left;
            position: relative;
            animation: 30s slidy infinite;
            }
            @@keyframes slidy {
                0% { left: 0%;}
                20% { left: 0%;}
                25% { left: -100%;}
                45% { left: -100%;}
                50% { left: -200%;}
                70% { left: -200%;}
                75% { left: -300%;}
                95% { left: -300%;}
                100% { left: -400%;}
            }
        #large-image{
            padding: 0.71% 1.5%;
        }
        #large-image img{
            height: 100%;
        }

        .sm{
            height: 50%;
            padding: 3%;
        }
        .sm img{
            width: 75%;
            height: 85%;
            margin-left: 13%;
        }
        .sm span{
            margin-left: 13%;
            display: block;
            background-color: #F62775;
            color: #fff;
            font-weight: bold;
            width: 75%;
            height: 15%;
            text-align: center;
        }
    #garanties{
        height: 7%;
        }
        #garanties div span{
            text-align: center;
            padding: 5% 0;
            display: inline-block;
            width: 100%;
            height: 50%;
            }
        #garanties span:only-child{
            padding: 12% 0;
            }
    #prd-bd{
        height: 3%;
    }
    .prd-img{
        height: 19%;
        }
        .class2{
            padding: 0 6%;
        }
        .class3{
            padding-left: 7.8%;
        }
        .prd-img:nth-of-type(3){

        }
        .prd-img img{
            width: 350px;
            height: 180px;
        }
        .type{
            width: 350px;
            height: 25%;
            /*background-color: pink;*/
        }
        .voir{
            width: 150px;
            height: 7%;
            color: #fff;
            background-color: #333;
            float: left;
        }
        .ajout{
            width: 200px;
            height: 7%;
            color: #fff;
            background-color: #F62775;
            float: left;
        }
        .devis{
            width: 350px;
            height: 8%;
            background-color: #bbb;
            color: #fff;
            float: left;
        }
    #eshop-bd{
        height: 3%;
        }
        #eshop-bd img{
            margin-top: 2.26%;
        }
    #eshop-cont{
        height: 19%;
        background-color: #616161;
        text-align: center;

        }
        #eshop-cont div{
            margin-top: 3%;
            height: 70%;
            border-right: 1px #aaa solid;
        }
        #eshop-cont div:last-of-type{
            margin-top: 3%;
            height: 70%;
            border: 0;
        }
        #eshop-cont p{

            color: #fff;
            display: block;
            width: 50%;
            margin: 0 auto;
        }
        #eshop-cont a{
            color: #f62775;
        }
footer{
    height: 120vh;
    background-color: #f5f5f5;
    width: 100%;
    }
    #footer-left,#footer-right{
        height: 90%;
        float: left;
    }
    #footer-left{
        width: 75%;
        }
        .block{
            width: 30%;
            margin: 0 1.66666666666666666666666666666666666666%;
        }
        .block:nth-of-type(2) ul{
            padding-left: 15%;
        }
        .block:nth-of-type(3) img{
            margin-left: 25%;
        }
        h5{
            text-align: center;
        }
        #row1{
            height: 35%;
            }
            #row1 div{
                height: 100%;
            }
            #row1 span{
                width: 60%;
                display: block;
                background: url('../img/map.png') no-repeat center left;
                background-size: 65px;
                padding-left: 75px;
            }
            #row1 span p{
                color: #222;
                font-style: italic;
                font-size: 12px;
            }
        #row2{
            height: 65%;
            }
    #footer-right{
        width: 25%;
        }
        h5{
            font-weight: bold;
            font-size: 16px;
            color: #000;
        }
        h6{
            font-size: 14px;
            color: #666;
            font-weight: bold;
            padding: 0;
            margin: 0;
        }
        #facebook{
            height: 20%;
            margin: 5% 0;
            background: #EBE7E8;
            padding: 15px 0 0 15px;;
            }
            #facebook h6{
                margin: 0 0 15px 0;
            }
            #facebook h6 img{
                width: 75px;
                height: 30px;
                float: right;
                /*padding: 10px 10px 0 0;*/

            }
            #facebook img{
                height: 64px;
                width: 64px;
                padding: 5px;
            }
        #newsletter{
            height: 15%;
            margin: 5% 0;
            background: #EBE7E8;
        }
        #ami{
            height: 25%;
            margin: 5% 0;
            background: #EBE7E8;
        }
.container-fluid:nth-child(2){
    padding: 0 5%;
}
.container-fluid:nth-child(3){
    padding: 0 5%;
}
