html{
    height: 100vh;
}

.rectangle{
    height: 50vh;
    width: 55vh;
    border-radius: 15px;
    transition: 0.5s;
}


.rouge {
    background-color: red;
}
.cyan {
    background-color: #0ff;
}

.green {
    background-color: #0f0;
}
.hide{
    display: none;
}
